@tailwind base;
@tailwind components;
@tailwind utilities;

head{
    scroll-behavior: smooth;
    background-color: aqua;
}

title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #cf1818;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}   